/*** TEXT AND COLOR ***/
body,text{
	color:black;
	fill:black;
	font-family:'Miso', Arial, sans-serif;
}

h1.hero-text {
    color: white;
    margin-bottom: 3rem;
}

p {
	font-size: 1rem;
    color: rgba(0,0,0,1);
	margin: 0 0 2rem 0;
	line-height: 2rem;
}

p.scene-text {
	font-size: 0.9rem;
    color: rgba(0,0,0,1);
	margin: 0 0 2rem 0;
	line-height: 2rem;
}
